<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Todo list</title>

</head>
<body>
<table>
    <th:block th:each="book : ${books}">
        <tr>
            <td th:text="${book.id}">...</td>
            <td th:text="${book.title}">...</td>
            <td th:text="${book.author}">...</td>
            <td th:text="${book.isbn}">...</td>
            <td> <a th:href="@{/edit/{id}(id=${book.id})}"> Edit</a></td>
            <td> <a th:href="@{/delete/{id}(id=${book.id})}"> Delete</a></td>

        </tr>

    </th:block>

</table>
<hr>
<a href="http://localhost:8080/add">add new book</a>
</body>
</html>
